.slider {
    height: 400px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 95%;
  }
  
  .slide-track {
    display: inline-block;
    animation: move 30s linear infinite;
    white-space: nowrap;
  }
  
  .slide-track:hover {
    display: inline-block;
    animation-play-state: paused;
    white-space: nowrap;
  }
  
  .slide-track > * {
    padding: 2vw;
    display: inline-block;
  }
  
  @keyframes move {
    100% {
      transform: translateX(0);
    }
    0% {
      transform: translateX(-50%);
    }
  }
  
  .slider::before,
  .slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
  .slider::before {
    left: 0;
    top: 0;
  }
  